<table id="input">
<tr>
<td>Genus</td>
<td><input type="text" id="g" value="7" size="2" maxlength="2"/> (max. 15)</td>
</tr>
<tr>
<td>Multiplicity</td>
<td><input type="text" id="m" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Conductor</td>
<td><input type="text" id="c" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Embedding dimension</td>
<td><input type="text" id="e" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var inpm = document.getElementById("m").value;
  var inpc = document.getElementById("c").value;
  var inpe = document.getElementById("e").value;
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
	    + "&g=" + document.getElementById("g").value
            + (((inpm.trim() == "") || isNaN(inpm)) ? "" : "&m=" + inpm)
            + (((inpc.trim() == "") || isNaN(inpc)) ? "" : "&c=" + inpc)
            + (((inpe.trim() == "") || isNaN(inpe)) ? "" : "&e=" + inpe)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
