<h1>Generate fullerenes</h1>

Generate different types of fullerenes.
A <span class="def">fullerene</span> is a plane graph whose faces are all pentagons and hexagons.
This is a website interface to the program <span class="def">fullgen</span>, written by Gunnar Brinkmann.
The default graph format are adjacency lists, where the neighbors of each vertex are listed in clockwise (cw) order around the vertex in the embedding of the graph.