The number of vertices of any fullerene must be even.
Moreover, by Euler's formula, there must always be exactly 12 pentagons.
For any fullerene with $n$ vertices, the number of hexagons is $n/2-10$, and the number of edges is $3n/2$.
The <span class="def">dodecahedron</span> shown below is the smallest fullerene with 20 vertices.
Its adjacency list representation is 1[10 11 2] 2[1 3 16] 3[2 15 4] 4[3 5 17] 5[4 14 6] 6[5 7 18] 7[6 13 8] 8[7 9 19] 9[8 12 10] 10[9 1 20] 11[1 12 15] 12[11 9 13] 13[12 7 14] 14[13 5 15] 15[14 3 11] 16[2 17 20] 17[16 4 18] 18[17 6 19] 19[18 8 20] 20[19 10 16].

<p>
<svg width="300" height="300">
<style> .l { stroke:black; stroke-width:2; fill:none; } </style>
<!--<rect x="0" y="0" width="300" height="290" fill="blue"/>-->
<line class="l" x1="12" y1="130" x2="150" y2="12"/>
<line class="l" x1="12" y1="130" x2="60" y2="140"/>
<line class="l" x1="12" y1="130" x2="70" y2="280"/>  
<line class="l" x1="70" y1="280" x2="110" y2="240"/>    
<line class="l" x1="70" y1="280" x2="230" y2="280"/>      
<line class="l" x1="60" y1="140" x2="100" y2="90"/>
<line class="l" x1="60" y1="140" x2="80" y2="210"/>  
<line class="l" x1="80" y1="210" x2="110" y2="170"/>   
<line class="l" x1="80" y1="210" x2="110" y2="240"/>     
<line class="l" x1="100" y1="90" x2="150" y2="60"/>       
<line class="l" x1="100" y1="90" x2="120" y2="120"/> 
<line class="l" x1="150" y1="12" x2="150" y2="60"/>         
<line class="l" x1="288" y1="130" x2="150" y2="12"/>           
<line class="l" x1="288" y1="130" x2="240" y2="140"/>           
<line class="l" x1="288" y1="130" x2="230" y2="280"/>             
<line class="l" x1="200" y1="90" x2="150" y2="60"/>           
<line class="l" x1="200" y1="90" x2="180" y2="120"/>           
<line class="l" x1="200" y1="90" x2="240" y2="140"/>             
<line class="l" x1="190" y1="240" x2="220" y2="210"/>           
<line class="l" x1="190" y1="240" x2="150" y2="240"/>           
<line class="l" x1="190" y1="240" x2="230" y2="280"/>             
<line class="l" x1="190" y1="170" x2="180" y2="120"/>           
<line class="l" x1="190" y1="170" x2="220" y2="210"/>           
<line class="l" x1="190" y1="170" x2="150" y2="200"/>             
<line class="l" x1="120" y1="120" x2="180" y2="120"/>           
<line class="l" x1="120" y1="120" x2="110" y2="170"/>             
<line class="l" x1="150" y1="200" x2="110" y2="170"/>           
<line class="l" x1="150" y1="200" x2="150" y2="240"/>             
<line class="l" x1="110" y1="240" x2="150" y2="240"/>  
<line class="l" x1="240" y1="140" x2="220" y2="210"/>    
<circle cx="12" cy="130" r="12" stroke="black" fill="white"/>
<circle cx="60" cy="140" r="12" stroke="black" fill="white"/>
<circle cx="70" cy="280" r="12" stroke="black" fill="white"/>
<circle cx="80" cy="210" r="12" stroke="black" fill="white"/>  
<circle cx="100" cy="90" r="12" stroke="black" fill="white"/>  
<circle cx="120" cy="120" r="12" stroke="black" fill="white"/>  
<circle cx="110" cy="170" r="12" stroke="black" fill="white"/>    
<circle cx="110" cy="240" r="12" stroke="black" fill="white"/>      
<circle cx="150" cy="12" r="12" stroke="black" fill="white"/>      
<circle cx="150" cy="60" r="12" stroke="black" fill="white"/>        
<circle cx="150" cy="200" r="12" stroke="black" fill="white"/>        
<circle cx="150" cy="240" r="12" stroke="black" fill="white"/>        
<circle cx="180" cy="120" r="12" stroke="black" fill="white"/>  
<circle cx="190" cy="170" r="12" stroke="black" fill="white"/>    
<circle cx="190" cy="240" r="12" stroke="black" fill="white"/>
<circle cx="200" cy="90" r="12" stroke="black" fill="white"/>  
<circle cx="220" cy="210" r="12" stroke="black" fill="white"/>  
<circle cx="240" cy="140" r="12" stroke="black" fill="white"/>
<circle cx="230" cy="280" r="12" stroke="black" fill="white"/>
<circle cx="288" cy="130" r="12" stroke="black" fill="white"/>
<text x="12" y="131" alignment-baseline="middle" text-anchor="middle">18</text>
<text x="60" y="141" alignment-baseline="middle" text-anchor="middle">17</text>
<text x="70" y="281" alignment-baseline="middle" text-anchor="middle">6</text>  
<text x="80" y="211" alignment-baseline="middle" text-anchor="middle">4</text>      
<text x="100" y="91" alignment-baseline="middle" text-anchor="middle">16</text>      
<text x="120" y="121" alignment-baseline="middle" text-anchor="middle">2</text>      
<text x="110" y="171" alignment-baseline="middle" text-anchor="middle">3</text>        
<text x="110" y="241" alignment-baseline="middle" text-anchor="middle">5</text>          
<text x="150" y="13" alignment-baseline="middle" text-anchor="middle">19</text>            
<text x="150" y="61" alignment-baseline="middle" text-anchor="middle">20</text>            
<text x="150" y="201" alignment-baseline="middle" text-anchor="middle">15</text>            
<text x="150" y="241" alignment-baseline="middle" text-anchor="middle">14</text>              
<text x="180" y="121" alignment-baseline="middle" text-anchor="middle">1</text>      
<text x="190" y="171" alignment-baseline="middle" text-anchor="middle">11</text>        
<text x="190" y="241" alignment-baseline="middle" text-anchor="middle">13</text>          
<text x="200" y="91" alignment-baseline="middle" text-anchor="middle">10</text>     
<text x="220" y="211" alignment-baseline="middle" text-anchor="middle">12</text>        
<text x="240" y="141" alignment-baseline="middle" text-anchor="middle">9</text>
<text x="230" y="281" alignment-baseline="middle" text-anchor="middle">7</text>  
<text x="288" y="131" alignment-baseline="middle" text-anchor="middle">8</text>
</svg>

<p>
We say that the pentagons in a fullerene are <span class="def">isolated</span>, if no two of them share an edge.
Such fullerenes are called <span class="def">IPR fullerenes</span> (IPR stands for 'isolated pentagon rule').
The smallest IPR fullerene is the <span class="def">Buckminsterfullerene</span> or <span class="def">buckyball</span> and has 60 vertices.
Please refer to a chemical dictionary for the meaning of the 28 different symmetry groups.