<ul id="refs">
<li>[ABBM+13] A. Asinowski, G. Barequet, M. Bousquet-M&eacute;lou, T. Mansour, and R. Y. Pinter. Orders induced by segments in floorplans and (2-14-3, 3-41-2)-avoiding permutations. Electron. J. Combin., 20(2):Paper 35, 43, 2013.</li>
<li>[AM10] A. Asinowski and T. Mansour. Separable d-permutations and guillotine partitions. Ann. Comb., 14(1):17–43, 2010.</li>
<li>[CSS18] J. Cardinal, V. Sacrist&aacute;n, and R. I. Silveira. A note on flips in diagonal rectangulations. Discrete Math. Theor. Comput. Sci., 20(2):Paper No. 14, 22, 2018.</li>
<li>[EMSV12] D. Eppstein, E. Mumford, B. Speckmann, and K. Verbeek. Area-universal and constrained rectangular layouts. SIAM J. Comput., 41(3):537–564, 2012.</li>
<li>[MM21] A. Merino and T. M&uuml;tze. Combinatorial generation via permutation languages. III. Rectangulations. arXiv:2103.09333, March 2021.</li>
<li>[Rea12] N. Reading. Generic rectangulations. European J. Combin., 33(4):610–623, 2012.</li>
<li>[YCCG03] B. Yao, H. Chen, C.-K. Cheng, and R. L. Graham. Floorplan representations: Complexity and connections. ACM Trans. Design Autom. Electr. Syst., 8(1):55–80, 2003.</li>
</ul>