<table id="input">
<tr>
<td>Number $n$ of rectangles</td>
<td><input type="text" id="n" value="4" size="3" maxlength="3"/> (max. 15)</td>
<td></td>
</tr>
<tr>
<td>Base type</td>
<td>
<select id="t" autocomplete="off" onchange="tchange()">
  <option value="1" selected>generic</option>
  <option value="2">diagonal</option>
  <option value="3">block-aligned</option>
</select>
</td>
<td></td>
</tr>
<tr>
<td>Forbidden patterns</td>
<td><input type="checkbox" id="p1"/> clockwise windmill</td>
<td><input type="checkbox" id="p2"/> counterclockwise windmill</td>
</tr>
<tr id="patt34">
<td></td>
<td><input type="checkbox" id="p3"/> left/right brick</td>
<td><input type="checkbox" id="p4"/> bottom/top brick</td>
</tr>
<tr id="patt56">
<td></td>
<td><input type="checkbox" id="p5"/> right/left brick</td>
<td><input type="checkbox" id="p6"/> top/bottom brick</td>
</tr>
<tr id="patt78">
<td></td>
<td><input type="checkbox" id="p7"/> vertical H</td>
<td><input type="checkbox" id="p8"/> horizontal H</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
<td></td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function tchange()
{
  var selt = document.getElementById("t");
  var trpatt34 = document.getElementById("patt34");
  var trpatt56 = document.getElementById("patt56");
  var trpatt78 = document.getElementById("patt78");
  if (selt.options[selt.selectedIndex].value != "3") {
    trpatt34.style.display = "";
    trpatt56.style.display = "";
    trpatt78.style.display = "";
  } else {
    trpatt34.style.display = "none";
    trpatt56.style.display = "none";
    trpatt78.style.display = "none";
    document.getElementById("p3").checked = false;
    document.getElementById("p4").checked = false;
    document.getElementById("p5").checked = false;
    document.getElementById("p6").checked = false;
    document.getElementById("p7").checked = false;
    document.getElementById("p8").checked = false;
  }
}

function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var selfmt = document.getElementById("fmt");
  var patts =   (document.getElementById("p1").checked ? "1" : "") 
              + (document.getElementById("p2").checked ? "2" : "")
              + (document.getElementById("p3").checked ? "3" : "")
              + (document.getElementById("p4").checked ? "4" : "")
              + (document.getElementById("p5").checked ? "5" : "")
              + (document.getElementById("p6").checked ? "6" : "")
              + (document.getElementById("p7").checked ? "7" : "")
              + (document.getElementById("p8").checked ? "8" : "");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&n=" + document.getElementById("n").value
            + "&t=" + selt.options[selt.selectedIndex].value
            + "&p=" + patts
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
