body {
  background-color: #ffffff;
  font-family: "Verdana", sans-serif;
  margin: 0;
}

/* definitions */
.def {
  font-style: italic;
}

/* page headings */
h1 {
  font-size: 140%;
  margin-top: 0;
}

/* these are the collapsible headings */
h2 {
  font-size: 110%;
  margin-bottom: 8px;
  cursor: pointer;
}

/* this is the inline "Output" heading above the console frame */
span.h2 {
  font-weight: bold;
  font-size: 110%;
}

/* display of total number of objects */
span#total {
  font-size: 110%;
}

/* object graphics centered with numbering in the beginning */
span.gfx {
  vertical-align: middle;
}

/* references */
ul#refs {
  font-size: 85%;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  padding-bottom: 10px;
  list-style-type: none;
  list-style-position: inside;
}

/* left column with logo and menu */
div#left {
  padding: 0;
  height: 100%;
  width: 160px;
  position: fixed;
  background-color: #f1f1f1;  
}

/* COS++ logo container */
div#logo {
  height: 90px;
  width: 160px;
  background-color: #f1f1f1;
  user-select: none;
}

/* COS++ logo */
svg#logo {
  margin-left: 35px;  
}

/* menu on the left hand side */
ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

/* foldable submenus */
ul.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  background-color: #f1f1f1;
}

/* categories */
li.dropdown_category, li.dropdown_container {
  background-color: #d5d8dc;
}

li.dropdown_category a {
  font-weight: bold;
}

/* folding triangles in menu */
li.dropdown_category span {
  float: right; 
}

/* menu anchor */
li.menu_item a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* currently active menu item */
li.menu_item a.active {
  background-color: #4CAF50;
  color: white;
}

/* hovering over currently not active menu item */
li.menu_item a:hover:not(.active) {
  background-color: #515A5A;
  color: white;
}

/* hide dropdown menu items by default */
li.dropdown_container:not(.active) {
  display: none;
}

/* all unordered lists */
ul.enum {
  padding-left: 20px;
}

/* vertical spacing of list items in object pages */
li.enum {
  margin: 0 0 4px 0;
}

/* header of page */
div#header {
  height: 50px;
  margin-left: 160px;
  width: 100%;
  padding: 0;
  padding-top: 15px;
  background-color: #f1f1f1;
  position: fixed;
  z-index: 1;
  user-select: none;
}

/* website title in header */
span#title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 160%;
}

/* content of object generation pages */
div#algo, div#info {
  float: left;
  margin: 0;
  margin-top: 65px;
  margin-left: 180px;
  margin-right: 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* content of info pages (non-object generation pages) */
div#info {
  width: 70%;
}

/* table for algorithm input options */
div#input {
  width: 100%;
  background-color: F2E2A2;
}

table#input {
  margin-top: 5px;
  padding: 5px;
  border-spacing: 5px;
}

/* run button */
input#run {
  color: white;
  background-color: #4CAF50;
  height: 25px; 
  font-size: 15px;
  cursor: pointer;
}

/* algorithm output */
div#output {
  width: 100%;
  height: 150px;  
  margin: 0;
  margin-top: 10px;
  padding: 0;
  background-color: #ffffff;
  resize: vertical;   
  overflow: auto;  
  min-height: 100px;
}

/* console */
body#console {
  padding: 5px;
  background-color: #000000; 
  color: #ffffff; 
  font-family: "Courier New", monospace; 
  margin: 0;
  word-break: break-all;
}

/* console frame */
iframe#consoleframe {
  margin-top: 5px;
  border-width: 0px;
  width: 100%;
  height: calc(100% - 50px);
}

/* list of generated objects */
div#output_list {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

/* diagram visualizing all generated objects (wheel diagram or animation) */
div#output_all {
  display: inline-block;
  float: left;
}

/* animation of objects */
div#animation {
  display: grid; 
}

/* all SVGs in animation stack are placed at the same grid coordinate */
svg.stack {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

svg.cover {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;  /* it must cover the remaining stack while loading */
}

/* collapsible sections */
div.collapse_section {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden; 
  transition: max-height 0.2s ease-out;
}

/* old COS information tables */
table.data td {
  padding-left: 10px;
  padding-right 10px;
}

th {
  font-weight: normal;
}

table.data td.special, th.special {
  padding-left: 10px;
  padding-right: 10px;
  background-color: F2E2A2;
}
