<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="a" autocomplete="off" onchange="achange()">
  <option value="1" selected>necklaces (unrestricted)</option>
  <option value="2">N: fixed density</option>
  <option value="3">N: fixed content</option>
  <option value="4">N: forbidden substring</option>
  <option value="5">N: bracelets</option>
  <option value="6">N: bracelets - fixed content</option>
  <option value="7">N: unlabeled (binary)</option>
  <option value="8">N: charm bracelet</option>
  <option value="9">N: charm bracelet - fixed content</option>
  <option value="10">chord diagrams</option>
  <option value="21">Lyndon words (unrestricted)</option>
  <option value="22">L: fixed density</option>
  <option value="23">L: fixed content</option>
  <option value="24">L: forbidden substring</option>
  <option value="25">L: bracelets</option>
  <option value="26">L: bracelets - fixed content</option>
  <option value="27">L: unlabeled (binary)</option>
  <option value="11">Lyndon brackets</option>
</select>
</td>
</tr>
<tr id="length">
<td>String length $n$</td>
<td><input type="text" id="n" value="7" size="3" maxlength="3"/> (max. 20)</td>
</tr>
<tr id="alpha">
<td>Alphabet size $k$</td>
<td>
<select id="k" autocomplete="off">
  <option value="2" selected>2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</td>
</tr>
<tr id="density">
<td>Fixed density</td>
<td><input type="text" id="d" value="" size="3" maxlength="3" /> (between 0 and $n$) </td>
</tr>
<tr id="content">
<td>Fixed content</td>
<td><input type="text" id="c" value="" size="20" maxlength="20" /> (e.g. 5 2 when $n=7$ and $k=2$)</td>
</tr>
<tr id="forbidden">
<td>Forbidden substring</td>
<td><input type="text" id="f" value="" size="20" maxlength="20" /> (e.g. 0 0 1)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function achange()
{
  var sela = document.getElementById("a");
  var tralpha = document.getElementById("alpha");
  var trdensity = document.getElementById("density");
  var trcontent = document.getElementById("content");
  var trforbid = document.getElementById("forbidden");

  if (sela.selectedIndex == 6 || sela.selectedIndex == 9 || sela.selectedIndex == 16) {
    tralpha.selectedIndex = 0;
    tralpha.style.display = "none";
  } else {
    tralpha.style.display = "";
  }

  if (sela.selectedIndex == 1 || sela.selectedIndex == 11) {
    trdensity.style.display = "";
  } else {
    trdensity.style.display = "none";
  }

  if (sela.selectedIndex == 2 || sela.selectedIndex == 5 || sela.selectedIndex == 8 || sela.selectedIndex == 12 || sela.selectedIndex == 15) {
    trcontent.style.display = "";
  } else {
    trcontent.style.display = "none";
  }
  
  if (sela.selectedIndex == 3 || sela.selectedIndex == 13) {
    trforbid.style.display = "";
  } else {
    trforbid.style.display = "none";
  }
}

function run()
{
  enlarge_output();
  output_buttons();
  var selk = document.getElementById("k");
  var sela = document.getElementById("a");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&n=" + document.getElementById("n").value
            + "&k=" + selk.options[selk.selectedIndex].value
            + "&d=" + document.getElementById("d").value
            + "&c=" + document.getElementById("c").value
            + "&f=" + document.getElementById("f").value            
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}

</script>

<script> achange(); </script>
