<ul id="refs">
<li>[BW84] M. Buck and D. Wiedemann. Gray codes with restricted density. Discrete Math., 48(2-3):163–171, 1984.</li>
<li>[GMN18] P. Gregor, T. M&uuml;tze, and J. Nummenpalo. A short proof of the middle levels theorem. Discrete Anal., Paper No. 8, 12, 2018.</li>
<li>[Hav83] I. Havel. Semipaths in directed cubes. In Graphs and other combinatorial topics (Prague, 1982), volume 59 of Teubner-Texte Math., pages 101–108. Teubner, Leipzig, 1983.</li>
<li>[Knu11] D. E. Knuth. The Art of Computer Programming. Vol. 4A. Combinatorial Algorithms. Part 1. Addison-Wesley, Upper Saddle River, NJ, 2011.</li>  
<li>[MMM20] A. Merino, O. Mi&ccaron;ka, and T. M&uuml;tze. On a combinatorial generation problem of Knuth. arXiv:2007.07164, July 2020.</li>
<li>[MN17] T. M&uuml;tze and J. Nummenpalo. A constant-time algorithm for middle levels Gray codes. In Proceedings of the 28th Annual ACM-SIAM Symposium on Discrete Algorithms, SODA 2017, pages 2238–2253, 2017.</li>
<li>[M&uuml;t16] T. M&uuml;tze. Proof of the middle levels conjecture. Proc. Lond. Math. Soc. (3), 112(4):677–713, 2016.</li>
<li>[SS99] I. Shields and C. D. Savage. A Hamilton path heuristic with applications to the middle two levels problem. In Proceedings of the Thirtieth Southeastern International Conference on Combinatorics, Graph Theory, and Computing (Boca Raton, FL, 1999), volume 140, pages 161–178, 1999.</li>
</ul>