<table id="input">
<tr>
<td>Parameter $n$ (length is $2n+1$)</td>
<td><input type="text" id="n" value="2" size="2" maxlength="2"/> (max. 15)</td>
</tr>
<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off" onchange="achange()">
  <option value="0" selected>no symmetry</option>
  <option value="1">(2n+1)-fold symmetry</option>
</select>
</td>
</tr>
<tr id="shift" style="display: none">
<td>Shift $s$</td>
<td><input type="text" id="s" value="1" size="2" maxlength="2"/> (between 1 and $2n$, coprime to $2n+1$)</td>
</tr>
<tr>
<td>Initial bitstring</td>
<td><input type="text" id="v" size="10" maxlength="40"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function achange()
{
  var sela = document.getElementById("a");
  var trshift = document.getElementById("shift");
  if (sela.options[sela.selectedIndex].value != "1") {
    trshift.style.display = "none";
  } else {
    trshift.style.display = "";
  }
}
  
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");
  var inpv = document.getElementById("v").value;
  var inps = document.getElementById("s").value;
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&n=" + document.getElementById("n").value
            + "&a=" + sela.options[sela.selectedIndex].value
            + (((sela.options[sela.selectedIndex].value == "0") || (inps.trim() == "") || isNaN(inps)) ? "" : "&s=" + inps)
            + (((inpv.trim() == "") || isNaN(inpv)) ? "" : "&v=" + inpv)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
