The <span class="def">integer partitions</span> of a number describe all ways to write this number as a sum of positive smaller numbers, called <span class="def">parts</span>, where the order of the parts is irrelevant.
Parts are usually listed in decreasing order.
For instance, the seven integer partitions of 5 are $5=4+1=3+2=3+1+1=2+2+1=2+1+1+1=1+1+1+1+1$.
A number partition can be visualized by a <span class="def">Ferrers diagram</span>, which consists of a sequence of rows of boxes, and the number of boxes in each row from top to bottom is given by the parts in the partition.
For instance, the partitions of 5 from before yield the diagrams shown in the following figure.

<p>
<table style="border-spacing:15px 0px">
<style>.r{stroke:black;fill:yellow;stroke-width:1}</style>
<tr>
<td><svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='24' y='0' width='12' height='12'/><rect class='r' x='36' y='0' width='12' height='12'/><rect class='r' x='48' y='0' width='12' height='12'/></svg></td>
<td><svg width='49' height='25' viewBox='-0.5 -0.5 49 25'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='24' y='0' width='12' height='12'/><rect class='r' x='36' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/></svg></td>
<td><svg width='37' height='25' viewBox='-0.5 -0.5 37 25'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='24' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/><rect class='r' x='12' y='12' width='12' height='12'/></svg></td>
<td><svg width='37' height='37' viewBox='-0.5 -0.5 37 37'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='24' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/><rect class='r' x='0' y='24' width='12' height='12'/></svg></td>
<td><svg width='25' height='37' viewBox='-0.5 -0.5 25 37'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/><rect class='r' x='12' y='12' width='12' height='12'/><rect class='r' x='0' y='24' width='12' height='12'/></svg></td>
<td><svg width='25' height='49' viewBox='-0.5 -0.5 25 49'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='12' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/><rect class='r' x='0' y='24' width='12' height='12'/><rect class='r' x='0' y='36' width='12' height='12'/></svg></td>
<td><svg width='13' height='61' viewBox='-0.5 -0.5 13 61'><rect class='r' x='0' y='0' width='12' height='12'/><rect class='r' x='0' y='12' width='12' height='12'/><rect class='r' x='0' y='24' width='12' height='12'/><rect class='r' x='0' y='36' width='12' height='12'/><rect class='r' x='0' y='48' width='12' height='12'/></svg></td>
</tr>
</table>

<p>
A <span class="def">set partition</span> of a ground set is a partition of this set into nonempty subsets, where the ordering of the subsets is irrelevant.
The ordering of elements in each subset is also irrelevant, and we use lexicographic ordering without loss of generality.
For instance, all five set partitions of the ground set $\{1,2,3\}$ are $123,12|3,1|2|3,1|23,13|2$, where the boundaries between subsets are indicated by vertical bars, and subset brackets are omitted for simplicity.

<p>
The algorithms running on this website are part of J&ouml;rg Arndt's FXT library.
Algorithms for generating integer partitions are described in Algorithms P and H in Knuth's book [Section 7.2.1.4, Knu11].
An algorithm for generating set partitions is decribed as Algorithm H in Knuth's book [Section 7.2.1.5, Knu11].
