Links to the counting sequences for some of the binary objects:

<ul class="enum">
<li>necklaces: <a href="http://oeis.org/A000031">OEIS A000031</a></li>
<li>Lyndon words: <a href="http://oeis.org/A001037">OEIS A001037</a></li>
<li>prenecklaces: <a href="http://oeis.org/A062692">OEIS A062692</a></li>
<li>binary strings &lt; their reversal: <a href="http://oeis.org/A032085">OEIS A032085</a> </li>
<li>binary strings &le; their reversal (neckties): <a href="http://oeis.org/A005418">OEIS A005418</a> </li>
<li>binary strings &lt; their complemented reversal: <a href="http://oeis.org/A007179">OEIS A007179</a></li>
<li>binary strings &le; their complemented reversal: <a href="http://oeis.org/A051437">OEIS A051437</a></li>
<li>prefix-normal words: <a href="http://oeis.org/A194850">OEIS A194850</a> </li>
</ul>
