<h1>Generate bitstrings</h1>

Generate all bitstrings of length $n$ with Hamming weight in the interval $[k,l]$ by flipping a single bit or exchanging two bits in each step.
For $k=l$ we obtain <a href="comb">combinations</a>.
