<table id="input">
<tr>
<td>Length $n$ of bitstrings</td>
<td><input type="text" id="n" value="4" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr>
<td>Lower bound $k$ on the Hamming weight</td>
<td><input type="text" id="k" value="0" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Upper bound $l$ on the Hamming weight</td>
<td><input type="text" id="l" value="4" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Cycle type</td>
<td>
<select id="t" autocomplete="off" onchange="tchange()">
  <option value="0" selected>trimmed BRGC</option>
  <option value="1">saturating cycle</option>
  <option value="2">tight enumeration</option>
</select>
</td>
</tr>
<tr id="dist">
<td>Distances at boundaries</td>
<td>
<select id="d" autocomplete="off">
  <option value="1">1</option>
  <option value="2" selected>2</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function tchange()
{
  var selt = document.getElementById("t");
  var trdist = document.getElementById("dist");
  if (selt.options[selt.selectedIndex].value != "0") {
    trdist.style.display = "none";
  } else {
    trdist.style.display = "";
  }
}

function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var seld = document.getElementById("d");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
 	          + "&n=" + document.getElementById("n").value
            + "&k=" + document.getElementById("k").value
            + "&l=" + document.getElementById("l").value
            + "&t=" + selt.options[selt.selectedIndex].value
            + "&d=" + seld.options[seld.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
