<ul id="refs">
<li>[CD06] M. P. Carr and S. L. Devadoss. Coxeter complexes and graph-associahedra. Topology Appl., 153(12):2155-2168, 2006.</li>
<li>[CMM21] J. Cardinal, A. Merino, and T. M&uuml;tze. Combinatorial generation via permutation languages. IV. Elimination trees. arXiv:2106.16204, June 2021.</li>
<li>[MP15] T. Manneville and V. Pilaud. Graph properties of graph associahedra. S&eacute;m. Lothar. Combin., 73:Art. B73d, 31, 2015.</li>
<li>[Pos09] A. Postnikov. Permutohedra, associahedra, and beyond. Int. Math. Res. Not. IMRN, (6):1026-1106, 2009.</li>
</ul>