<ul id="refs">
<li>[Aig73] M. Aigner. Lexicographic matching in Boolean algebras. J. Combinatorial Theory Ser. B, 14:187–194, 1973.</li>
<li>[dBvETK51] N. G. de Bruijn, Ca. van Ebbenhorst Tengbergen, and D. Kruyswijk. On the set of divisors of a number. Nieuw Arch. Wiskunde (2), 23:191–193, 1951.</li>
<li>[GK76] C. Greene and D. J. Kleitman. Strong versions of Sperner’s theorem. J. Combinatorial Theory Ser. A, 20(1):80–88, 1976.</li>
<li>[GMM19] P. Gregor, O. Mi&ccaron;ka, and T. M&uuml;tze. On the central levels problem. arXiv:1912.01566, December 2019.</li>
<li>[Knu11] D. E. Knuth. The Art of Computer Programming. Vol. 4A. Combinatorial Algorithms. Part 1. Addison-Wesley, Upper Saddle River, NJ, 2011.</li>
<li>[Lew72] M. Lewin. Choice mappings of certain classes of finite sets. Math. Z., 124:23–36, 1972.</li>
<li>[ST14] N. Streib and W. T. Trotter. Hamiltonian cycles and symmetric chains in Boolean lattices. Graphs Combin., 30(6):1565–1586, 2014.</li>
<li>[WW77] D. E. White and S. G. Williamson. Recursive matching algorithms and linear orders on the subset lattice. J. Combin. Theory Ser. A, 23(2):117–127, 1977. </li>
</ul>