<h1>Elements of $GF(7^n)$ with given trace and subtrace</h1>

If $a$ is an element of $GF(7^n)$, then the (absolute) <span class="def">trace</span> of $a$ is
\[
\operatorname{tr}(a)=a+a^7+a^{49}+\cdots+a^{7^{n-1}}.
\]
Alternatively, we could define $\operatorname{tr}(a)$ to be the negation of the coefficient of $x^{n-1}$ in the (characteristic) polynomial
\[
p(x) = (x - a) (x - a^7) (x - a^{49}) \cdots (x - a^{7^{n-1}}).
\]
The <span class="def">subtrace</span> of $a$ is the coefficient of $x^{n-2}$ in $p(x)$.
The coefficients of $p(x)$ are guaranteed to be elements of $GF(7)$, so the trace and subtrace are elements of $GF(7)$ (i.e., the value is $0,1,\ldots,6$).

<p>
<table class="data" cellpadding="4">
<tr>
<td>
<td align="center" colspan="10">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,2)<br>(0,4) 
<td class="special" align="center">(0,3)<br>(0,5)<br>(0,6)
<td class="special" align="center">(1,0)<br>(2,0)<br>(3,0)<br>(4,0)<br>(5,0)<br>(6,0)
<td class="special" align="center">(1,1)<br>(2,4)<br>(3,2)<br>(4,2)<br>(5,4)<br>(6,1)
<td class="special" align="center">(1,2)<br>(2,1)<br>(3,4)<br>(4,4)<br>(5,1)<br>(6,2)
<td class="special" align="center">(1,3)<br>(2,5)<br>(3,6)<br>(4,6)<br>(5,5)<br>(6,3)
<td class="special" align="center">(1,4)<br>(2,2)<br>(3,1)<br>(4,1)<br>(5,2)<br>(6,4)
<td class="special" align="center">(1,5)<br>(2,6)<br>(3,3)<br>(4,3)<br>(5,6)<br>(6,5)
<td class="special" align="center">(1,6)<br>(2,3)<br>(3,5)<br>(4,5)<br>(5,3)<br>(6,6)  
<tr>
<td class="special" align="center">1   
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0<td align="right">0<td align="right">0<td align="right">0<td align="right">0
<tr>
<td class="special" align="center">2   
<td align="right">1<td align="right">2<td align="right">0
<td align="right">0<td align="right">0<td align="right">1<td align="right">2<td align="right">2<td align="right">0<td align="right">2
<tr>
<td class="special" align="center">3   
<td align="right">13<td align="right">6<td align="right">6
<td align="right">6<td align="right">6<td align="right">6<td align="right">6<td align="right">6<td align="right">13<td align="right">6
<tr>
<td class="special" align="center">4   
<td align="right">49<td align="right">42<td align="right">56
<td align="right">42<td align="right">56<td align="right">56<td align="right">49<td align="right">42<td align="right">42<td align="right">56
<tr>
<td class="special" align="center">5   
<td align="right">301<td align="right">350<td align="right">350
<td align="right">350<td align="right">350<td align="right">350<td align="right">350<td align="right">350<td align="right">350<td align="right">301
<tr>
<td class="special" align="center">6   
<td align="right">2401<td align="right">2352<td align="right">2450
<td align="right">2450<td align="right">2401<td align="right">2352<td align="right">2352<td align="right">2450<td align="right">2352<td align="right">2450
<tr>
<td class="special" align="center">7   
<td align="right">16807<td align="right">17150<td align="right">16464
<td align="right">16807<td align="right">16807<td align="right">16807<td align="right">16807<td align="right">16807<td align="right">16807<td align="right">16807
</table>

<h2>Examples</h2>

<ul>
<li>
Let $GF(7^2)$ be defined by the field extension $GF(7)[x]/(3+5x+x^2)$.
The one element of $GF(7^2)$ with trace 3 and subtrace 4 is $\{5\}$.

<li>
Let $GF(7^2)$ be defined by the field extension $GF(7)[x]/(3+5x+x^2)$.
The two elements of $GF(7^2)$ with trace 5 and subtrace 2 are $\{4+2x, 1+5x\}$.

<li>
Let $GF(7^3)$ be defined by the field extension $GF(7)[x]/(3+x^2+x^3)$.
The six elements of $GF(7^3)$ with trace 1 and subtrace 6 are $\{1+2x, 2+5x, 1+3x+x^2, 4+5x+x^2, 6+2x+6x^2, 2+4x+6x^2\}$.
</ul>

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
Column (0,0) is <a href="http://oeis.org/A074014">OEIS A074014</a>.
<li>
Column (0,1),(0,2),(0,4) is <a href="http://oeis.org/A074015">OEIS A074015</a>.
<li>
Column (0,3),(0,5),(0,6) is <a href="http://oeis.org/A074016">OEIS A074016</a>.
<li>
Column (1,0),(2,0),(3,0),(4,0),(5,0),(6,0) is <a href="http://oeis.org/A074017">OEIS A074017</a>.
<li>
Column (1,1),(2,4),(3,2),(4,2),(5,4),(6,1) is <a href="http://oeis.org/A074018">OEIS A074018</a>.
<li>
Column (1,2),(2,1),(3,4),(4,4),(5,1),(6,2) is <a href="http://oeis.org/A074019">OEIS A074019</a>.
<li>
Column (1,3),(2,5),(3,6),(4,6),(5,5),(6,3) is <a href="http://oeis.org/A074020">OEIS A074020</a>.
<li>
Column (1,4),(2,2),(3,1),(4,1),(5,2),(6,4) is <a href="http://oeis.org/A074021">OEIS A074021</a>.
<li>
Column (1,5),(2,6),(3,3),(4,3),(5,6),(6,5) is <a href="http://oeis.org/A074022">OEIS A074022</a>.
<li>
Column (1,6),(2,3),(3,5),(4,5),(5,3),(6,6) is <a href="http://oeis.org/A074023">OEIS A074023</a>.
</ul>