<h1>Elements of $GF(3^n)$ with given trace and subtrace</h1>

If $a$ is an element of $GF(3^n)$, then the (absolute) <span class="def">trace</span> of $a$ is
\[
\operatorname{tr}(a)=a+a^3+a^9+\cdots+a^{3^{n-1}}.
\]
Alternatively, we could define $\operatorname{tr}(a)$ to be the negation of the coefficient of $x^{n-1}$ in the (characteristic) polynomial
\[
p(x) = (x - a) (x - a^3) (x - a^9) \cdots (x - a^{3^{n-1}}).
\]
The <span class="def">subtrace</span> of $a$ is the coefficient of $x^{n-2}$ in $p(x)$.
The coefficients of $p(x)$ are guaranteed to be elements of $GF(3)$, so the trace and subtrace are elements of $GF(3)$ (i.e., the value is 0, 1 or 2).

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="6">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1) 
<td class="special" align="center">(0,2)
<td class="special" align="center">(1,0)<br>(2,0)
<td class="special" align="center">(1,1)<br>(2,1)
<td class="special" align="center">(1,2)<br>(2,2)
<tr>
<td class="special" align="center">1   
<td align="right">1
<td align="right">0
<td align="right">0
<td align="right">1
<td align="right">0
<td align="right">0
<tr>
<td class="special" align="center">2   
<td align="right">1
<td align="right">2
<td align="right">0
<td align="right">0
<td align="right">1
<td align="right">2
<tr>
<td class="special" align="center">3   
<td align="right">3
<td align="right">0
<td align="right">6
<td align="right">3
<td align="right">3
<td align="right">3
<tr>
<td class="special" align="center">4   
<td align="right">9
<td align="right">12
<td align="right">6
<td align="right">9
<td align="right">12
<td align="right">6
<tr>
<td class="special" align="center">5   
<td align="right">21
<td align="right">30
<td align="right">30
<td align="right">30
<td align="right">21
<td align="right">30
<tr>
<td class="special" align="center">6   
<td align="right">99
<td align="right">72
<td align="right">72
<td align="right">81
<td align="right">81
<td align="right">81
<tr>
<td class="special" align="center">7   
<td align="right">225
<td align="right">252
<td align="right">252
<td align="right">225
<td align="right">252
<td align="right">252
<tr>
<td class="special" align="center">8   
<td align="right">729
<td align="right">702
<td align="right">756
<td align="right">756
<td align="right">729
<td align="right">702
<tr>
<td class="special" align="center">9   
<td align="right">2187
<td align="right">2268
<td align="right">2106
<td align="right">2187
<td align="right">2187
<td align="right">2287
<tr>
<td class="special" align="center">10   
<td align="right">6561
<td align="right">6480
<td align="right">6642
<td align="right">6561
<td align="right">6480
<td align="right">6642
<tr>
<td class="special" align="center">11   
<td align="right">19845
<td align="right">19602
<td align="right">19602
<td align="right">19602
<td align="right">19845
<td align="right">19602
<tr>
<td class="special" align="center">12   
<td align="right">58563
<td align="right">59292
<td align="right">59292
<td align="right">59049
<td align="right">59049
<td align="right">59049
<tr>
<td class="special" align="center">13   
<td align="right">177633
<td align="right">177633
<td align="right">176904
<td align="right">176904
<td align="right">176904
<td align="right">176904
<tr>
<td class="special" align="center">14   
<td align="right">531441
<td align="right">532170
<td align="right">531441
<td align="right">532170
<td align="right">530712
<td align="right">530712
<tr>
<td class="special" align="center">15   
<td align="right">1594323
<td align="right">1594323
<td align="right">1594323
<td align="right">1596510
<td align="right">1594323
<td align="right">1592136
<tr>
<td class="special" align="center">16   
<td align="right">4782969
<td align="right">4782969
<td align="right">4780782
<td align="right">4785156
<td align="right">4785156
<td align="right">4780782
<tr>
<td class="special" align="center">17   
<td align="right">14344533
<td align="right">14351094
<td align="right">14344533
<td align="right">14351094
<td align="right">14351094
<td align="right">14351094
<tr>
<td class="special" align="center">18   
<td align="right">43033599
<td align="right">43046721
<td align="right">43046721
<td align="right">43053282
<td align="right">43046721
<td align="right">43053282
<tr>
<td class="special" align="center">19   
<td align="right">129127041
<td align="right">129127041
<td align="right">129146724
<td align="right">129146724
<td align="right">129146724
<td align="right">129146724
<tr>
<td class="special" align="center">20   
<td align="right">387420489
<td align="right">387400806
<td align="right">387420489
<td align="right">387400806
<td align="right">387440172
<td align="right">387440172
</table>

<h2>Examples</h2>

<ul class="enum">
<li>
Let $GF(3^2)$ be defined by the field extension $GF(3)[x]/(2+x+x^2)$.
The two elements of $GF(3^2)$ with trace 0 and subtrace 1 are $\{2+x, 1+2x\}$.

<li>
Let $GF(3^2)$ be defined by the field extension $GF(3)[x]/(2+x+x^2)$.
The two elements of $GF(3^2)$ with trace 1 and subtrace 2 are $\{1+x, 2x\}$.

<li>
Let $GF(3^3)$ be defined by the field extension $GF(3)[x]/(1+x+2x^2+x^3)$.
The three elements of $GF(3^3)$ with trace 2 and subtrace 1 are $\{2x, 1+x^2, 1+x+2x^2\}$.
</ul>

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
Column (0,0) is <a href="http://oeis.org/A074000">OEIS A074000</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A074001">OEIS A074001</a>.
<li>
Column (0,2) is <a href="http://oeis.org/A074002">OEIS A074002</a>.
<li>
Column (1,0),(2,0) is <a href="http://oeis.org/A074003">OEIS A074003</a>.
<li>
Column (1,1),(2,1) is <a href="http://oeis.org/A074004">OEIS A074004</a>.
<li>
Column (1,2),(2,2) is <a href="http://oeis.org/A074005">OEIS A074005</a>.
</ul>