<h1>Elements of $GF(5^n)$ with given trace and subtrace</h1>

If $a$ is an element of $GF(5^n)$, then the (absolute) <span class="def">trace</span> of $a$ is
\[
\operatorname{tr}(a)=a+a^5+a^{25}+\cdots+a^{5^{n-1}}.
\]
Alternatively, we could define $\operatorname{tr}(a)$ to be the negation of the coefficient of $x^{n-1}$ in the (characteristic) polynomial
\[
p(x) = (x - a) (x - a^5) (x - a^{25}) \cdots (x - a^{5^{n-1}}).
\]
The <span class="def">subtrace</span> of $a$ is the coefficient of $x^{n-2}$ in $p(x)$.
The coefficients of $p(x)$ are guaranteed to be elements of $GF(5)$, so the trace and subtrace are elements of $GF(5)$ (i.e., the value is $0,1,\ldots,4$).
 
<p>
<table class="data" cellpadding="4">
<tr>
<td>
<td align="center" colspan="8">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,4) 
<td class="special" align="center">(0,2)<br>(0,3)
<td class="special" align="center">(1,0)<br>(2,0)<br>(3,0)<br>(4,0)
<td class="special" align="center">(1,1)<br>(2,4)<br>(3,4)<br>(4,1)
<td class="special" align="center">(1,2)<br>(2,3)<br>(3,3)<br>(4,2)
<td class="special" align="center">(1,3)<br>(2,2)<br>(3,2)<br>(4,3)
<td class="special" align="center">(1,4)<br>(2,1)<br>(3,1)<br>(4,4) 
<tr>
<td class="special" align="center">1   
<td align="right">1
<td align="right">0
<td align="right">0
<td align="right">1
<td align="right">0
<td align="right">0
<td align="right">0
<td align="right">0
<tr>
<td class="special" align="center">2   
<td align="right">1
<td align="right">0
<td align="right">2
<td align="right">0
<td align="right">2
<td align="right">2
<td align="right">0
<td align="right">1
<tr>
<td class="special" align="center">3   
<td align="right">1
<td align="right">6
<td align="right">6
<td align="right">6
<td align="right">6
<td align="right">1
<td align="right">6
<td align="right">6
<tr>
<td class="special" align="center">4   
<td align="right">25
<td align="right">30
<td align="right">20
<td align="right">30
<td align="right">25
<td align="right">30
<td align="right">20
<td align="right">20
<tr>
<td class="special" align="center">5   
<td align="right">125
<td align="right">100
<td align="right">150
<td align="right">125
<td align="right">125
<td align="right">125
<td align="right">125
<td align="right">125
<tr>
<td class="special" align="center">6   
<td align="right">625
<td align="right">650
<td align="right">600
<td align="right">625
<td align="right">650
<td align="right">600
<td align="right">600
<td align="right">650
<tr>
<td class="special" align="center">7   
<td align="right">3025
<td align="right">3150
<td align="right">3150
<td align="right">3150
<td align="right">3150
<td align="right">3150
<td align="right">3150
<td align="right">3025
</table>

<h2>Examples</h2>

<ul class="enum">
<li>
Let $GF(5^2)$ be defined by the field extension $GF(5)[x]/(2+x+x^2)$.
The two elements of $GF(5^2)$ with trace 2 and subtrace 4 are $\{4+x, 3+4x\}$.

<li>
Let $GF(5^2)$ be defined by the field extension $GF(5)[x]/(2+x+x^2)$.
The two elements of $GF(5^2)$ with trace 4 and subtrace 2 are $\{x, 4+4x\}$.

<li>
Let $GF(5^3)$ be defined by the field extension $GF(5)[x]/(3+2x+3x^2+x^3)$.
The six elements of $GF(5^3)$ with trace 3 and subtrace 1 are $\{2+x+x^2, 3+2x+x^2, 4+3x+2x^2, 3+2x+3x^2, 4+3x+4x^2, 4x+4x^2\}$.
</ul>

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
Column (0,0) is <a href="http://oeis.org/A074006">OEIS A074006</a>.
<li>
Column (0,1),(0,4) is <a href="http://oeis.org/A074007">OEIS A074007</a>.
<li>
Column (0,2),(0,3) is <a href="http://oeis.org/A074008">OEIS A074008</a>.
<li>
Column (1,0),(2,0),(3,0),(4,0) is <a href="http://oeis.org/A074009">OEIS A074009</a>.
<li>
Column (1,1),(2,4),(3,4),(4,1) is <a href="http://oeis.org/A074010">OEIS A074010</a>.
<li>
Column (1,2),(2,3),(3,3),(4,2) is <a href="http://oeis.org/A074011">OEIS A074011</a>.
<li>
Column (1,3),(2,2),(3,2),(4,3) is <a href="http://oeis.org/A074012">OEIS A074012</a>.
<li>
Column (1,4),(2,1),(3,1),(4,4) is <a href="http://oeis.org/A074013">OEIS A074013</a>.
</ul>