<h1>Ternary Lyndon words with given trace and subtrace</h1>

A $k$-ary <span class="def">Lyndon word</span> is a string made from the characters $\{0,1,\ldots,k-1\}$.
It must be aperiodic (not equal to any of its non-trivial rotations) and be lexicographically least among its rotations.

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=3$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits mod $k$, i.e., $t = a_1 + a_2 + \cdots + a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="6">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(1,0)<br>(2,0)
<td class="special" align="center">(1,1)<br>(2,1)
<td class="special" align="center">(1,2)<br>(2,2)
<tr>
<td class="special" align="center">1   
<td align="right">1
<td align="right">0
<td align="right">0
<td align="right">1
<td align="right">0
<td align="right">0
<tr>
<td class="special" align="center">2   
<td align="right">0
<td align="right">0
<td align="right">1
<td align="right">1
<td align="right">0
<td align="right">0
<tr>
<td class="special" align="center">3   
<td align="right">0
<td align="right">0
<td align="right">2
<td align="right">1
<td align="right">1
<td align="right">1
<tr>
<td class="special" align="center">4   
<td align="right">2
<td align="right">1
<td align="right">3
<td align="right">2
<td align="right">1
<td align="right">3
<tr>
<td class="special" align="center">5   
<td align="right">4
<td align="right">6
<td align="right">6
<td align="right">6
<td align="right">4
<td align="right">6
<tr>
<td class="special" align="center">6   
<td align="right">9
<td align="right">14
<td align="right">15
<td align="right">13
<td align="right">13
<td align="right">13
<tr>
<td class="special" align="center">7   
<td align="right">32
<td align="right">36
<td align="right">36
<td align="right">32
<td align="right">36
<td align="right">36
<tr>
<td class="special" align="center">8   
<td align="right">90
<td align="right">93
<td align="right">87
<td align="right">87
<td align="right">90
<td align="right">93
<tr>
<td class="special" align="center">9   
<td align="right">240
<td align="right">252
<td align="right">234
<td align="right">243
<td align="right">243
<td align="right">243
<tr>
<td class="special" align="center">10   
<td align="right">654
<td align="right">661
<td align="right">645
<td align="right">654
<td align="right">661
<td align="right">645
<tr>
<td class="special" align="center">11   
<td align="right">1804
<td align="right">1782
<td align="right">1782
<td align="right">1782
<td align="right">1804
<td align="right">1782
<tr>
<td class="special" align="center">12   
<td align="right">4950
<td align="right">4893
<td align="right">4893
<td align="right">4914
<td align="right">4914
<td align="right">4914
<tr>
<td class="special" align="center">13   
<td align="right">13664
<td align="right">13608
<td align="right">13608
<td align="right">13664
<td align="right">13608
<td align="right">13608
<tr>
<td class="special" align="center">14   
<td align="right">37944
<td align="right">37890
<td align="right">37994
<td align="right">37994
<td align="right">37944
<td align="right">37890
<tr>
<td class="special" align="center">15   
<td align="right">106272
<td align="right">106142
<td align="right">106434
<td align="right">106288
<td align="right">106288
<td align="right">106288
<tr>
<td class="special" align="center">16   
<td align="right">298890
<td align="right">298755
<td align="right">299025
<td align="right">298890
<td align="right">298755
<td align="right">299025
<tr>
<td class="special" align="center">17   
<td align="right">843796
<td align="right">844182
<td align="right">844182
<td align="right">844182
<td align="right">843796
<td align="right">844182
<tr>
<td class="special" align="center">18   
<td align="right">2390595
<td align="right">2391732
<td align="right">2391723
<td align="right">2391363
<td align="right">2391363
<td align="right">2391363
<tr>
<td class="special" align="center">19   
<td align="right">6796160
<td align="right">6797196
<td align="right">6797196
<td align="right">6796160
<td align="right">6797196
<td align="right">6797196
<tr>
<td class="special" align="center">20   
<td align="right">19370696
<td align="right">19371684
<td align="right">19369708
<td align="right">19369708
<td align="right">19370696
<td align="right">19371684
</table>

<h2>Examples</h2>

<table class="data"><tr>
<td>(trace, subtrace)
<td>$n=1$
<td>$n=2$
<td>$n=3$
<td>$n=4$
<tr>
<td>$t=0, s=0$
<td>$\{0\}$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{0111,  0222\}$
<tr>
<td>$t=0, s=1$
<td>$\emptyset$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{1122\}$
<tr>
<td>$t=0, s=2$
<td>$\emptyset$
<td>$\{12\}$
<td>$\{012, 021\}$
<td>$\{0012, 0021, 0102\}$
<tr>
<td>$t=1, s=0$
<td>$\{1\}$
<td>$\{01\}$
<td>$\{001\}$
<td>$\{0001, 1222\}$ 
<tr>
<td>$t=2, s=0$
<td>$\{2\}$
<td>$\{02\}$
<td>$\{002\}$
<td>$\{0002, 1112\}$
<tr>
<td>$t=1, s=1$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{022\}$
<td>$\{0022\}$
<tr>
<td>$t=2, s=1$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{011\}$
<td>$\{0011\}$
<tr>
<td>$t=1, s=2$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{112\}$
<td>$\{0112, 0121, 0211\}$ 
<tr>
<td>$t=2, s=2$
<td>$\emptyset$
<td>$\emptyset$
<td>$\{122\}$
<td>$\{0122, 0212, 0221\}$
</table>

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
$L_3(n;0,0)$ is <a href="http://oeis.org/A053548">OEIS A053548</a>.
<li>
$L_3(n;0,1)$ is <a href="http://oeis.org/A053560">OEIS A053560</a>.
<li>
$L_3(n;0,2)$ is <a href="http://oeis.org/A053561">OEIS A053561</a>.
<li>
$L_3(n;2,0)=L_3(n;1,0)$ is <a href="http://oeis.org/A053562">OEIS A053562</a>.
<li>
$L_3(n;1,1)=L_3(n;2,1)$ is <a href="http://oeis.org/A053563">OEIS A053563</a>.
<li>
$L_3(n;1,2)=L_3(n;2,2)$ is <a href="http://oeis.org/A053564">OEIS A053564</a>.
</ul>