<h1>Strings over $GF(4)$ with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(4)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s = \sum_{1\leq i\lt j\leq n} a_i a_j$. 

Below we use $a=\operatorname{root}(x^2+x+1)$ and $b=1+a$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="8">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,$a$)<br>(0,$b$)
<td class="special" align="center">(1,0)<br>($a$,0)<br>($b$,0)
<td class="special" align="center">(1,1)<br>($a$,$b$)<br>($b$,$a$)
<td class="special" align="center">(1,$a$)<br>($a$,1)<br>($b$,1)<br>(1,$b$)<br>($a$,$a$)<br>($b$,$b$)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0  
<td align="right">1<td align="right">0
<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">1<td align="right">1 
<td align="right">2<td align="right">2
<td align="right">0  
<tr><th align="center" class="special">3</th>
<td align="right">7<td align="right">3  
<td align="right">3<td align="right">7
<td align="right">3 
<tr><th align="center" class="special">4</th>
<td align="right">28<td align="right">12
<td align="right">16<td align="right">16
<td align="right">16
<tr><th align="center" class="special">5</th>
<td align="right">76<td align="right">60  
<td align="right">76<td align="right">60
<td align="right">60  
<tr><th align="center" class="special">6</th>
<td align="right">256<td align="right">256 
<td align="right">272<td align="right">272
<td align="right">240  
<tr><th align="center" class="special">7</th>
<td align="right">1072<td align="right">1008 
<td align="right">1008<td align="right">1072
<td align="right">1008 
<tr><th align="center" class="special">8</th>
<td align="right">4288<td align="right">4032 
<td align="right">4096<td align="right">4096
<td align="right">4096  
<tr><th align="center" class="special">9</th>
<td align="right">16576<td align="right">16320  
<td align="right">16576<td align="right">16320
<td align="right">16320 
<tr><th align="center" class="special">10</th>
<td align="right">65536<td align="right">65536  
<td align="right">65792<td align="right">65792
<td align="right">65280 
<tr><th align="center" class="special">11</th>
<td align="right">262912<td align="right">261888 
<td align="right">261888<td align="right">262912
<td align="right">261888  
<tr><th align="center" class="special">12</th>
<td align="right">1051648<td align="right">1047552  
<td align="right">1048576<td align="right">1048576
<td align="right">1048576  
<tr><th align="center" class="special">13</th>
<td align="right">4197376<td align="right">4193280 
<td align="right">4197376<td align="right">4193280
<td align="right">4193280  
<tr><th align="center" class="special">14</th>
<td align="right">16777216<td align="right">16777216 
<td align="right">16781312<td align="right">16781312
<td align="right">16773120
<tr><th align="center" class="special">15</th>
<td align="right">67121152<td align="right">67104768 
<td align="right">67104768<td align="right">67121152
<td align="right">67104768 
</table>

<h2>Examples</h2>

The one 4-ary string of trace 0, subtrace 1 and length 2 is $\{11\}$.
The two 4-ary strings of trace $a$, subtrace $b$ and length 2 are $\{1b, b1\}$.
The three 4-ary strings of trace $b$, subtrace 1 and length 3 are $\{11b, 1b1, b11\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum"> 
<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\begin{align}
S(n;t,s) &= S(n-1;t,s) + S(n-1;t-1,s-(t-1)) + S(n-1;t-a,s-a(t-a)) + S(n-1;t-b,s-b(t-b)) \\
         &= S(n-1;t,s) + S(n-1;t+1,s+t+1) + S(n-1;t+a,s+a(t+a)) + S(n-1;t+b,s+b(t+b)).
\end{align}
Note that all operations involving operands $t$ or $s$ are carried out over $GF(4)$.

<li>
Column (0,0) is <a href="http://oeis.org/A073995">OEIS A073995</a>.
<li>
Column (0,1),(0,$a$),(0,$b$) is <a href="http://oeis.org/A073996">OEIS A073996</a>.
<li>
Column (1,0),($a$,0),($b$,0) is <a href="http://oeis.org/A073997">OEIS A073997</a>.
<li>
Column (1,1),($a$,$b$),($b$,$a$) is <a href="http://oeis.org/A073998">OEIS A073998</a>.
<li>
Column (1,$a$),($a$,1),($b$,1),(1,$a$),($a$,$a$),($b$,$b$) is <a href="http://oeis.org/A073999">OEIS A073999</a>.
</ul>