Graphs are among the most heavily studied objects in combinatorics.
However, despite their simple definition, they are much more complex than the basic objects like permutations, combinations, partitions etc.
Formally, a <span class="def">graph</span> is a pair $G=(V,E)$, where $V$ is a finite nonempty set and $E$ is a set of unordered distinct pairs of elements from $V$, called the  of <span class="def">vertices</span> and <span class="def">edges</span> of the graph, respectively.
To emphasize that loops and multiple edges are disallowed, such graph are sometimes called <span class="def">simple</span>.
Here we consider graphs to be <span class="def">unlabelled</span>, which means we consider them the same if they differ only in renaming of the vertices.
We write $n:=|V|$ for the number of vertices, and we always consider the vertex set $V=\{1,2,\ldots,n\}$ for simplicity.
Graphs can be represented in a computer in a variety of ways.
An <span class="def">edge list</span> is a list of all edges of the graph.
Another representation is the <span class="def">adjacency list</span>, which is a list that specifies for each vertex $i$ the list of all its neighbors, i.e., all edges $ij\in E$.
A graph can also be represented by its <span class="def">adjacency matrix</span>, which is an $n\times n$ matrix $A$ with $a_{i,j}=1$ if $ij\in E$ and $a_{i,j}=0$ otherwise.
As we only consider undirected graphs, we always have $a_{i,j}=a_{j,i}$.
For example, consider the graph shown below.

<p>
<svg width="140" height="140">
<style> .l { stroke:black; stroke-width:2; } </style>
<!--<rect x="0" y="0" width="140" height="140" fill="red"/>-->
<line class="l" x1="70" y1="15" x2="15" y2="70"/>
<line class="l" x1="70" y1="15" x2="125" y2="70"/>
<line class="l" x1="125" y1="70" x2="15" y2="70"/>
<line class="l" x1="70" y1="125" x2="125" y2="70"/>
<line class="l" x1="70" y1="125" x2="15" y2="70"/>
<circle cx="70" cy="15" r="12" stroke="black" fill="white"/>
<circle cx="15" cy="70" r="12" stroke="black" fill="white"/>
<circle cx="125" cy="70" r="12" stroke="black" fill="white"/>
<circle cx="70" cy="125" r="12" stroke="black" fill="white"/>
<text x="70" y="16" alignment-baseline="middle" text-anchor="middle">1</text>
<text x="15" y="71" alignment-baseline="middle" text-anchor="middle">2</text>
<text x="125" y="71" alignment-baseline="middle" text-anchor="middle">3</text>
<text x="70" y="126" alignment-baseline="middle" text-anchor="middle">4</text>
</svg>

<p>
Its edge list representation is 1,2; 1,3; 2,3; 2,4; 3,4, its adjacency list representation is 1[2 3] 2[1 3 4] 3[1 2 4] 4[2 3], and the adjacency matrix representation is 0110 1011 1101 0110 (written out row by row).