OEIS sequences related to unlabelled $n$-vertex graphs:
<ul class="enum">
<li>All graphs: <a href="http://oeis.org/A000088">OEIS A000088</a></li>
<li>Triangle-free graphs: <a href="http://oeis.org/A006785">OEIS A006785</a></li>
<li>4-cycle-free graphs: <a href="http://oeis.org/A006786">OEIS A006786</a></li>
<li>Triangle- and 4-cycle-free graphs: <a href="http://oeis.org/A006787">OEIS A006787</a></li>
<li>Bipartite graphs: <a href="http://oeis.org/A033995">OEIS A033995</a></li>
<li>4-cycle-free bipartite graphs: <a href="http://oeis.org/A138347">OEIS A138347</a></li>
<li>Graphs with $n$ vertices and $n$ edges: <a href="http://oeis.org/A001434">OEIS A001434</a></li>
<li>Connected graphs: <a href="http://oeis.org/A001349">OEIS A001349</a></li>
<li>Connected triangle-free graphs: <a href="http://oeis.org/A024607">OEIS A024607</a></li>
<li>Connected 4-cycle-free graphs: <a href="http://oeis.org/A077269">OEIS A077269</a></li>
<li>Connected triangle- and 4-cycle-free graphs: <a href="http://oeis.org/A126757">OEIS A126757</a></li>
<li>Connected bipartite graphs: <a href="http://oeis.org/A005142">OEIS A005142</a></li>
<li>Connected 4-cycle-free bipartite graphs: <a href="http://oeis.org/A300749">OEIS A300749</a></li>
<li>Connected graphs with $n$ vertices and $n$ edges: <a href="http://oeis.org/A001429">OEIS A001429</a></li>
<li>Unlabelled trees: <a href="http://oeis.org/A000055">OEIS A000055</a></li>
</ul>