<P><TABLE BORDER=1 CELLSPACING=2 CELLPADDING=2><TR>
<TH><TH COLSPAN=1><B>0</B><BR></TH>
<TH COLSPAN=1><B>1</B><BR></TH>
<TH COLSPAN=1><B>2</B><BR></TH>
<TH COLSPAN=1><B>3</B><BR></TH>
<TH COLSPAN=1><B>4</B><BR></TH>
<TH COLSPAN=1><B>5</B><BR></TH>
<TH COLSPAN=1><B>6</B><BR></TH>
<TH COLSPAN=1><B>7</B><BR></TH>
<TH COLSPAN=1><B>8</B><BR></TH>
<TH COLSPAN=1><B>9</B><BR></TH>
<TH COLSPAN=1><B>10</B><BR></TH>
<TH COLSPAN=1><B>11</B><BR></TH>
<TH COLSPAN=1><B>12</B><BR></TH>
<TH COLSPAN=1><B>13</B><BR></TH>
<TH COLSPAN=1><B>14</B><BR></TH>
<TH COLSPAN=1><B>15</B><BR></TH>
<TH COLSPAN=1><B>16</B><BR></TH>
<TH COLSPAN=1><B>17</B><BR></TH>
<TH COLSPAN=1><B>18</B><BR></TH>
<TH COLSPAN=1><B>19</B><BR></TH>
<TH COLSPAN=1><B>20</B><BR></TH>
<TH COLSPAN=1><B>21</B><BR></TH>
<TH COLSPAN=1><B>22</B><BR></TH>
<TH COLSPAN=1><B>23</B><BR></TH>
<TH COLSPAN=1><B>24</B><BR></TH>
<TH COLSPAN=1><B>25</B><BR></TH>
<TH COLSPAN=1><B>26</B><BR></TH>
<TH COLSPAN=1><B>27</B><BR></TH>
<TH COLSPAN=1><B>28</B><BR></TH>
<TH COLSPAN=1><B>29</B><BR></TH>
<TH COLSPAN=1><B>30</B><BR></TH>
<TH COLSPAN=1><B>31</B><BR></TH>
<TR><TD><B>1</B>
<TD>0<TD>1
<TR><TD><FONT COLOR=00ff00><B>2</FONT></B>
<TD>0<TD>0<TD>0
<TR><TD><FONT COLOR=00ff00><B>3</FONT></B>
<TD>0<TD>0<TD>0<TD>2
<TR><TD><B>4</B>
<TD>0<TD>0<TD>0<TD>2<TD>0
<TR><TD><FONT COLOR=00ff00><B>5</FONT></B>
<TD>0<TD>0<TD>0<TD>2<TD>0<TD>4
<TR><TD><B>6</B>
<TD>0<TD>0<TD>0<TD>3<TD>0<TD>6<TD>0
<TR><TD><FONT COLOR=00ff00><B>7</FONT></B>
<TD>0<TD>0<TD>0<TD>4<TD>0<TD>10<TD>0<TD>4
<TR><TD><B>8</B>
<TD>0<TD>0<TD>0<TD>0<TD>0<TD>17<TD>0<TD>13<TD>0
<TR><TD><B>9</B>
<TD>0<TD>0<TD>0<TD>4<TD>0<TD>22<TD>0<TD>28<TD>0<TD>2
<TR><TD><B>10</B>
<TD>0<TD>0<TD>0<TD>2<TD>0<TD>38<TD>0<TD>44<TD>0<TD>14<TD>0
<TR><TD><B>11</B>
<TD>0<TD>0<TD>0<TD>2<TD>0<TD>46<TD>0<TD>84<TD>0<TD>52<TD>0<TD>2
<TR><TD><B>12</B>
<TD>0<TD>0<TD>0<TD>4<TD>0<TD>54<TD>0<TD>152<TD>0<TD>110<TD>0<TD>14<TD>0
<TR><TD><FONT COLOR=00ff00><B>13</FONT></B>
<TD>0<TD>0<TD>0<TD>0<TD>0<TD>66<TD>0<TD>236<TD>0<TD>264<TD>0<TD>60<TD>0<TD>4
<TR><TD><B>14</B>
<TD>0<TD>0<TD>0<TD>2<TD>0<TD>73<TD>0<TD>357<TD>0<TD>500<TD>0<TD>214<TD>0<TD>15<TD>0
<TR><TD><B>15</B>
<TD>0<TD>0<TD>0<TD>6<TD>0<TD>98<TD>0<TD>546<TD>0<TD>898<TD>0<TD>546<TD>0<TD>82<TD>0<TD>6
<TR><TD><B>16</B>
<TD>0<TD>0<TD>0<TD>0<TD>0<TD>94<TD>0<TD>734<TD>0<TD>1587<TD>0<TD>1304<TD>0<TD>337<TD>0<TD>24<TD>0
<TR><TD><FONT COLOR=00ff00><B>17</FONT></B>
<TD>0<TD>0<TD>0<TD>6<TD>0<TD>152<TD>0<TD>1050<TD>0<TD>2674<TD>0<TD>2696<TD>0<TD>1006<TD>0<TD>122<TD>0<TD>4
<TR><TD><B>18</B>
<TD>0<TD>0<TD>0<TD>5<TD>0<TD>124<TD>0<TD>1374<TD>0<TD>4316<TD>0<TD>5406<TD>0<TD>2745<TD>0<TD>531<TD>0<TD>30<TD>0
<TR><TD><FONT COLOR=00ff00><B>19</FONT></B>
<TD>0<TD>0<TD>0<TD>0<TD>0<TD>158<TD>0<TD>1774<TD>0<TD>6696<TD>0<TD>10238<TD>0<TD>6766<TD>0<TD>1772<TD>0<TD>190<TD>0<TD>0
<TR><TD><B>20</B>
<TD>0<TD>0<TD>0<TD>4<TD>0<TD>199<TD>0<TD>2325<TD>0<TD>9995<TD>0<TD>18405<TD>0<TD>15227<TD>0<TD>5368<TD>0<TD>815<TD>0<TD>39<TD>0
</table>