<ul id="refs">
<li>[Cum66] R. L. Cummins. Hamilton circuits in tree graphs. IEEE Trans. Circuit Theory, CT-13:82–90, 1966.
</li>
<li>[HH72] C. A. Holzmann and F. Harary. On the tree graph of a matroid. SIAM J. Appl. Math., 22:187–193, 1972.
</li>
<li>[Kam67] T. Kamae. The existence of a Hamilton circuit in a tree graph. IEEE Trans. Circuit Theory, CT-14:279–283, 1967.
</li>
<li>[Knu11] D. E. Knuth. The Art of Computer Programming. Vol. 4A. Combinatorial Algorithms. Part 1. Addison-Wesley, Upper Saddle River, NJ, 2011.
</li>
</ul>