<ul id="refs">
<li>[CSW21] B. Cameron, J. Sawada, and A. Williams. A Hamilton cycle in the k-sided pancake network. arXiv:2103.09256, Mar 2021.</li>
<li>[SW16a] J. Sawada and A. Williams. Greedy flipping of pancakes and burnt pancakes. Discrete Appl. Math., 210:61–74, 2016.</li>
<li>[SW16b] J. Sawada and A. Williams. Successor rules for flipping pancakes and burnt pancakes. Theoret. Comput. Sci., 609(part 1):60–75, 2016.</li>
<li>[Zak84] S. Zaks. A new algorithm for generation of permutations. BIT, 24(2):196–204, 1984.</li>
</ul>