<h1>Generate plane triangulations and quadrangulations</h1>

Generate various types of plane graphs.
This is a website interface to the program <span class="def">plantri</span>, written by Gunnar Brinkmann and Brendan McKay.
The default graph format are adjacency lists, where the neighbors of each vertex are listed in clockwise (cw) order around the vertex in the embedding of the graph.
Some other graph formats are also available (graph6, sparse6, etc.), but these other formats do not encode the embedding.