<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>

<TITLE>Information on Set Partitions</TITLE>
<BASE HREF="https://webhome.cs.uvic.ca/~cos/" >

<META NAME="resource-type" CONTENT="document">
<META NAME="description" CONTENT="Information on set partitions, 
  part of COS (the combinatorial object server) created by
  Frank Ruskey.">
<META NAME="keywords" CONTENT="Set partition, Bell number, 
  Stirling number of the second kind, restricted growth function, 
  restricted growth string, Gray code, Frank Ruskey, 
  combinatorial object server">
<META NAME="distribution" CONTENT="global">
<META NAME="copyright" CONTENT="Frank Ruskey, 1996-2000.">
<META HTTP-EQUIV="Reply-to" CONTENT="fruskey@csr.uvic.ca (Frank Ruskey)">
 
</HEAD>

<BODY>

<A HREF="gen/setp.html">
<IMG SRC="ico/gen.gif" align=left border=0 ALT="" height=33 width=35></A>
<!--#include file="inc/Border.include"-->
<HR>

<H2>Info about Set Partitions</H2>

A <STRONG>set partition</STRONG> of the set [<I>n</I>] = {1,2,...,<I>n</I>} is
  a collection <B>B</B><sub>0</sub>,<B>B</B><sub>1</sub>,...,<B>B</B><I><sub>j</sub></I> 
  of disjoint subsets of [<I>n</I>] whose
  union is [<I>n</I>].  
Each <B>B</B><I><sub>i</sub></I> is called a <STRONG>block</STRONG>.
Below we show the partitions of [4].  
The periods separate the individual sets so that, for example, 
  1.23.4 is the partition {{1},{2,3},{4}}.

<P>
<CENTER>
<TABLE BORDER=0>
<TR><TD>1 blocks: <TD>1234 <BR>
<TR><TD>2 blocks: 
  <TD>123.4,&nbsp; <TD>124.3,&nbsp; <TD>134.2,&nbsp; <TD>1.234,&nbsp; 
  <TD>12.34,&nbsp; <TD>13.24,&nbsp; <TD>14.23 <BR>
<TR><TD>3 blocks: 
  <TD>1.2.34,&nbsp; <TD>1.24.3,&nbsp; <TD>1.23.4,&nbsp; 
  <TD>14.2.3,&nbsp; <TD>13.2.4,&nbsp; <TD>12.3.4 <BR>
<TR><TD>4 blocks: <TD>1.2.3.4 <BR>
</TABLE>
</CENTER>

<P>
<A NAME=RG></a>
Each partition above has its blocks listed in 
  increasing order of smallest element; thus block 0 contains
  element 1, block 1 contains the smallest element not in block 0,
  and so on.
A <STRONG>R</STRONG>estricted <STRONG>G</STRONG>rowth string 
  (or RG string) is a string <I>a</I>[1..<I>n</I>] where 
  <I>a</I>[<I>i</I>] is the block in which 
  element <I>i</I> occurs.  
Restricted growth strings are often called restricted growth functions.
Here are the RG strings corresponding to the
  partitions shown above.

<P>
<CENTER>
<TABLE BORDER=0>
<TR><TD>1 blocks: <TD>0000 <BR>
<TR><TD>2 blocks: 
  <TD>0001,&nbsp; <TD>0010,&nbsp; <TD>0100,&nbsp; <TD>0111,&nbsp; 
  <TD>0011,&nbsp; <TD>0101,&nbsp; <TD>0110<BR>
<TR><TD>3 blocks: 
  <TD>0122,&nbsp; <TD>0121,&nbsp; <TD>0112,&nbsp; <TD>0120,&nbsp; 
  <TD>0102,&nbsp; <TD>0012 <BR>
<TR><TD>4 blocks: <TD>0123 <BR>
</TABLE>
</CENTER>

<p>
The name "restricted growth" comes from the fact that RG strings 
  are characterized by the following growth 
  inequality (for <I>i</I> = 1,2,...,<I>n</I>-1, and with
  a[1] = 0): 

<p>
<CENTER>
a[<I>i</I>+1] &nbsp; <U>&lt;</U> &nbsp; 1 + max{a[1],a[2],...,a[<I>i</I>]}.
</CENTER>

<p>
The number of partitions of an <I>n</I>-set is called a <I>Bell
  number</I>, <I>b</I><sub><I>n</I></sub>.  
For <I>n</I> = 1,2,...,15, the Bell numbers have the values
  1, 1, 2, 5, 15, 52, 203, 877, 4140, 21147, 115975, 678570,
  4213597, 27644437, 190899322.

This is sequence 
  <A HREF="<!--#include file="inc/IntSeq.include"-->Anum=A000110">
  <B>A000110</B>(M1484, N0585)</A> in 
<!--#include file="inc/Sloane.include"-->
The Bell numbers have the exponential generating function
  exp(<I>e</I><sup><I>x</I></sup>-1) and satisfy the
  recurrence relation 

<p>
<CENTER>
<TABLE border=0 cellpadding=0 cellspacing=0>
<TR>
<TD valign=middle>
  <I>b<sub>n+1</sub></I>
<TD valign=middle>
  &nbsp; = &nbsp;
<TD valign=middle>
  <TABLE border=0 cellpadding=0 cellspacing=0>
  <TR><TD><U>&nbsp;<font size=-1><I>n</I></font>&nbsp;</U>
  <TR><TD>\
  <TR><TD><U>/&nbsp;&nbsp;&nbsp;</U>
  <TR><TD><FONT size=-1><I>k=</I>0</font>
  </TABLE>    
<TD valign=middle>
  <I>b<sub>k</sub></I>&nbsp;          
<TD valign=middle>
  <FONT SIZE="+2">(</FONT>
<TD valign=middle>
  <I>n</I> <BR> <I>k</I>
<TD valign=middle>
  <FONT size="+2">)</FONT>
</TABLE>                                          
</CENTER>
 
<p>
The number of partitions of an <I>n</I>-set into <I>k</I> blocks is
  called a Stirling number of the second kind and is denoted 
  <I>S</I>(<I>n</I>,<I>k</I>).
They satisfy the following recurrence relation, which forms the basis
  of recursive algorithms for generating them.

<P>
<CENTER>
<I>S</I>(<I>n</I>,<I>k</I>) = <I>k S</I>(<I>n-</I>1,<I>k</I>) 
   + <I>S</I>(<I>n-</I>1,<I>k-</I>1)
</CENTER>

<P>
Sometimes ther Stirling numbers of the second kind are written in a 
  manner similar to the binomial coefficients, except that curly braces
  are used instead of parentheses.
Using that notation the recurrence relation is

<P>
<CENTER>
<TABLE CELLPADDING=0 CELLSPACING=0>
<TR>
<TD valign=middle>
  <FONT SIZE="+2">{</FONT>
<TD valign=middle>
  <I>n</I> <BR> <I>k</I>
<TD valign=middle>
  <FONT size="+2">}</FONT>       
<TD valign=middle>
&nbsp; = &nbsp;
<I>k</I> 
<TD valign=middle>
  <FONT SIZE="+2">{</FONT>
<TD valign=middle>
  <I>n-</I>1 <BR> &nbsp; <I>k</I>
<TD valign=middle>
  <FONT size="+2">}</FONT>       
<TD valign=middle>
+
<TD valign=middle>
  <FONT SIZE="+2">{</FONT>
<TD valign=middle>
  <I>n-</I>1 <BR> <I>k-</I>1
<TD valign=middle>
  <FONT size="+2">}</FONT>       
</TABLE>
</CENTER>

<P>
A small table of these numbers may be found at the end of this page.

<P>
There is an interesting correspondence between non-taking rooks on a
  half-chessboard and set partitions.
A rook in position <I>i,j</I> corresponds to <I>i</I> and <I>j</I>
  being in the same block.
A partition with <I>k</I> blocks corresponds to the placement of
  <I>n-k</I> rooks.
The placement shown below corresponds to the set partition
  {1,6,7}, {2,4,8}, {3,5}.
(See Knuth vol. 3, Exercise 5.1.3.19 for more on this correspondence.)

<P>
<CENTER>
<TABLE BORDER=1 CELLPADDING=0 CELLSPACING=0>
<TR><!--row 1-->
<TD WIDTH=20 ALIGN=CENTER>1</TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!--row 2-->
<TD WIDTH=20 ALIGN=CENTER>2</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!-- row 3-->
<TD WIDTH=20 ALIGN=CENTER>3</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!-- row 4-->
<TD WIDTH=20 ALIGN=CENTER>4</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/greenRook.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!--row 5-->
<TD WIDTH=20 ALIGN=CENTER>5</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/greenRook.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!--row 6-->
<TD WIDTH=20 ALIGN=CENTER>6</TD>
<TD><IMG SRC=ico/greenRook.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!--row 7-->
<TD WIDTH=20 ALIGN=CENTER>7</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/greenRook.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR><!-- row 8-->
<TD WIDTH=20 ALIGN=CENTER>8</TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/greenRook.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/green.gif height=30 width=30></TD>
<TD><IMG SRC=ico/red.gif height=30 width=30></TD>
</TR>

<TR> <!--last row-->
<TD></TD>
<TD ALIGN=CENTER>1</TD>
<TD ALIGN=CENTER>2</TD>
<TD ALIGN=CENTER>3</TD>
<TD ALIGN=CENTER>4</TD>
<TD ALIGN=CENTER>5</TD>
<TD ALIGN=CENTER>6</TD>
<TD ALIGN=CENTER>7</TD>
<TD ALIGN=CENTER>8</TD>
</TR>

</TABLE>
</CENTER>

<P>
In Gray code order, successive RG functions differ in only one position.
Such a change implies that a single element moves from one
  block to another.  
(The converse is not necessarily true.)
In terms of rooks on a chessboard, a single rook is either removed from the
  board, added to the board, or moved from one square of the board
  to another.
If Gray code order is chosen, then there is an output option that lists
  pairs (<I>e</I>,<I>b</I>), where <I>e</I> is the element and 
  <I>b</I> is the block into which it moves.

<P>
<HR NOSHADE WIDTH="50%">

<P>
<CENTER>
<TABLE BORDER=1>
<TR>
<TH>k = <TH>&nbsp;1<TH>&nbsp;2<TH>&nbsp;3<TH>&nbsp;4
        <TH>&nbsp;5<TH>&nbsp;6<TH>&nbsp;7<TH>&nbsp;8 
<TR>
<TH ALIGN=right>n=1 
  <TD ALIGN=right> &nbsp; 1   
<TR>
<TH ALIGN=right>  2 
  <TD ALIGN=right>1 <TD ALIGN=right>1  
<TR>
<TH ALIGN=right>  3 
  <TD ALIGN=right>1 <TD ALIGN=right>3 <TD ALIGN=right> 1 
<TR>
<TH ALIGN=right>  4 
  <TD ALIGN=right>1 <TD ALIGN=right>7 <TD ALIGN=right>6 <TD ALIGN=right> 1 
<TR>
<TH ALIGN=right>  5 
  <TD ALIGN=right>1 <TD ALIGN=right>15 <TD ALIGN=right>25 
  <TD ALIGN=right> 10 <TD ALIGN=right> 1 
<TR>
<TH ALIGN=right>  6 
  <TD ALIGN=right>1 <TD ALIGN=right>31 <TD ALIGN=right>90 
  <TD ALIGN=right>65 <TD ALIGN=right>15 <TD ALIGN=right>1 
<TR>
<TH ALIGN=right>  7 
  <TD ALIGN=right>1 <TD ALIGN=right>63 <TD ALIGN=right>301 
  <TD ALIGN=right>350 <TD ALIGN=right>140 <TD ALIGN=right>21 
  <TD ALIGN=right>1   
<TR>
<TH ALIGN=right>  8 
  <TD ALIGN=right>1 <TD ALIGN=right>127 <TD ALIGN=right>966 
  <TD ALIGN=right>1701 <TD ALIGN=right>1050 <TD ALIGN=right>266
  <TD ALIGN=right>28 <TD ALIGN=right>1   
</TABLE>
</CENTER>

<H2>Relevant Links and References</H2>

<UL>
<LI>
Information about 
<A HREF="http://www-groups.dcs.st-and.ac.uk/~history/Mathematicians/Bell.html">
Eric Temple Bell</A>, for whom the Bell numbers are named.
<LI>
Information about 
<A HREF="http://www-groups.dcs.st-and.ac.uk/~history/Mathematicians/Stirling.html">
James Stirling</A>, for whom the Stirling numbers of the second kind are named.
<LI>
The Gray code algorithm for set partitions into a fixed number of blocks is
  from the paper <I>Simple combinatorial Gray codes constructed by reversing
  sublists</I>, by Frank Ruskey, Lecture Notes in Computer Science,
  #762, 201-208.  This paper may be downloaded from
  <A HREF="http://www.cs.uvic.ca/~ruskey/Publications/SimpleGray/SimpleGray.html">
  here </A>.
<LI>
  The <B>mathworld</B> entry for 
  <A HREF="http://mathworld.wolfram.com/RestrictedGrowthString.html">
  restricted growth string </A>.  I think that the information found here was
  mostly derived from the COS page you are currently viewing!
</UL>

<P>
<HR>
Programs available: <IMG SRC=ico/cat.gif height=32 width=43>
<UL>
<LI>
  <A HREF=dis/distribute.pl.cgi?package=>C program</A>
  <!--#include file="inc/Red.include" -->
<LI>
  <A HREF=dis/distribute.pl.cgi?package=>Pascal program</A>
  <!--#include file="inc/Red.include" -->
</UL>
<HR>
<A HREF=gen/setp.html>
<IMG SRC=ico/gen.gif align=left border=0 height=33 width=35></A>
<!--#include file="inc/Border.include"-->
<HR>
<FONT SIZE=-1>
<!--#include file="inc/Wizard.include"--><br>
<!-- This page maintained by -->
<!-- <A HREF="mailto:cos@theory.csc.uvic.ca">Kato (from the Green Hornet)</A>.<BR> -->
It was last updated <!--#echo var="LAST_MODIFIED" -->.<BR>
<!--#exec cgi="inc/cos-counter/counter-nl"--><BR>
<!--#include file="inc/Copyright.include" -->
</FONT>
</body>
</HTML>

